.item {
    padding: 10px 24px;
    border-radius: 15px;
    border: 1px solid #EAEAEA;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 16px;
        font-weight: 700;
        color: #234B8E;
        max-width: 200px;
    }

    .item-left {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h3 {
            color: #234B8E;
            font-weight: 700;
            font-size: 32px;
            display: flex;
            align-items: center;
            gap: 4px;

            span {
                font-size: 16px;
                font-weight: 500;
            }
        }

        h4 {
            color: #3FE598;
            font-size: 16px;
            font-weight: 500;
            display: flex;
            gap: 8px;
            align-items: center;
        }

        h5 {
            color: #E53F3F;
            font-size: 16px;
            font-weight: 500;
            display: flex;
            gap: 8px;
            align-items: center;
        }
    }
}