.header {
  padding: 20px 30px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 30px 0px #0000000D;

  .menu {
    display: flex;
    list-style: none;
    gap: 20px;

    li {
      a {
        font-weight: 500;
        font-size: 16px;
        color: #214784;
      }
    }

    .current_link {
      background: #234B8E;
      a {
        color: #FFFFFF;
      }
    }
  }

}